@page
@model IndexModel

@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;

}


<!-- User Details update Modal -->
<div class="modal fade" id="PersonalDetailModal" tabindex="-1" aria-labelledby="PersonalDetailModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="PersonalDetailModalLabel">Modal title</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            @*
            .
            .MODALIN İÇİ
            .BURADA KULLANICINI BİLGİLERİNİ UPDATE ETME , EKLEME ÇIKARMA İŞLEMLERİ VAR
            .
            *@
            <form id="profile-form" method="post">
                <div class="card">

                    <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
                    <div class="form-floating">
                        <input asp-for="Input.Name" class="form-control" />
                        <label asp-for="Input.Name" class="form-label"></label>
                    </div><div class="form-floating">
                        <input asp-for="Input.Email" class="form-control" />
                        <label asp-for="Input.Email" class="form-label"></label>
                    </div>
                    <div class="form-floating">
                        <input asp-for="Input.PhoneNumber" class="form-control" />
                        <label asp-for="Input.PhoneNumber" class="form-label"></label>
                        <span asp-validation-for="Input.PhoneNumber" class="text-danger"></span>
                    </div>


                </div>
                @*MODAL BUTTONS*@
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                    <button id="update-profile-button" type="submit" class="btn btn-warning">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>

<section style="background-color: #eee;">
    <div class="container py-5">

        <div class="row">
            <div class="col-lg-4">


                @*kullanıcın Üst Bilgileri*@
                <div class="card mb-4">
                    <div class="card-body text-center">
                        <img src="https://mdbcdn.b-cdn.net/img/Photos/new-templates/bootstrap-chat/ava3.webp" alt="avatar"
                             class="rounded-circle img-fluid" style="width: 150px;">
                        <h5 class="my-3">@Model.Name</h5>
                        <p class="text-muted mb-1">Full Stack Developer</p>
                        <p class="text-muted mb-4">Bay Area, San Francisco, CA</p>

                    </div>
                </div>


                @*Kullanıcın sahip oldığu Linkler*@
                <div class="card mb-4 mb-lg-0">
                    <div class="card-body p-0">
                        <ul class="list-group list-group-flush rounded-3">
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fas fa-globe fa-lg text-warning"></i>
                                <p class="mb-0">https://mdbootstrap.com</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-github fa-lg" style="color: #333333;"></i>
                                <p class="mb-0">mdbootstrap</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-twitter fa-lg" style="color: #55acee;"></i>
                                <p class="mb-0">mdbootstrap</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-instagram fa-lg" style="color: #ac2bac;"></i>
                                <p class="mb-0">mdbootstrap</p>
                            </li>
                            <li class="list-group-item d-flex justify-content-between align-items-center p-3">
                                <i class="fab fa-facebook-f fa-lg" style="color: #3b5998;"></i>
                                <p class="mb-0">mdbootstrap</p>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>






            <div class="col-lg-8">

                <div class="card mb-4">
                    <div class="row py-2 px-2">
                        <div class="col-6">
                            <p class="mb-2"><span class="text-primary font-italic me-1">Kişisel Bilgiler</span></p>
                        </div>
                        <div class="col-6 text-end ">
                            <!--User Details update Modal Button trigger -->
                            <button type="button" class="btn btn-secondary text-end" data-bs-toggle="modal" data-bs-target="#PersonalDetailModal">
                                Edit <i class="fa-regular fa-pen-to-square"></i>
                            </button>
                        </div>
                    </div>
                    @*Kullanıcının Bilgileri*@
                    <div class="card-body">

                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Full Name</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.UserVM.ApplicationUser.Name</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Email</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.UserVM.ApplicationUser.Email</p>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Phone</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">@Model.UserVM.ApplicationUser.PhoneNumber</p>
                            </div>
                        </div>
                        <hr />
                        <div class="row">
                            <div class="col-sm-3">
                                <p class="mb-0">Point</p>
                            </div>
                            <div class="col-sm-9">
                                <p class="text-muted mb-0">
                                    @*puan Tam ise*@
                                    @if ((int)Model.DegiskenDeneme == Model.DegiskenDeneme)
                                    {
                                        @for (int i = 0; i < Model.DegiskenDeneme; i++)
                                        {
                                            <i class="fa-solid fa-star"></i>
                                        }
                                        @for (int i = 0; i < 5 - Model.DegiskenDeneme; i++)
                                        {
                                            <i class="fa-regular fa-star"></i>
                                        }

                                    }
                                    else
                                    {
                                        @for (int i = 0; i < (int)Model.DegiskenDeneme; i++)
                                        {
                                            <i class="fa-solid fa-star"></i>
                                        }
                                        <i class="fa-regular fa-star-half-stroke"></i>
                                        @for (int i = 0; i < 5 - ((int)Model.DegiskenDeneme + 1); i++)
                                        {
                                            <i class="fa-regular fa-star"></i>
                                        }
                                    }
                                </p>
                            </div>
                        </div>
                    </div>
                </div>


                @*Adres*@
                @*kulanıcının adresinin gösterileceeği alan*@
                <div class="row">

                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-header">
                                <div class="row py-2 px-2">
                                    <div class="col-6">
                                        <p class="mb-2"><span class="text-primary font-italic me-2">Adres</span></p>
                                    </div>
                                    <div class="col-6 text-end ">
                                        <!--User Address Insert Button -->
                                        <button type="button" class="btn">
                                            <i class="fa-solid fa-square-plus fa-2xl" style="color:#5C636A"></i></i>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            @*Adreslerin olduğu kısım ilerisi için bir kullanıcı daha fazla adres tutabilmeli*@
                            <div class="card-body" style="height:300px; overflow:auto">
                                @foreach (var address in Model.UserVM.Addresses)
                                {
                                    <div class="card mb-2">
                                        <div class="card-body">
                                            <div class="row">

                                                <div class="col-md-10">
                                                    <i class="fa-solid fa-location-dot"></i><a>&ensp; @address.District.City.Name, @address.District.Name.ToUpper(), @address.Street.ToUpper()</a>
                                                    <p class="text-muted mt-2">@address.FullAddress</p>
                                                </div>
                                                <div class="col-md-2"><button class="btn"><i class="fa-sharp fa-regular fa-pen-to-square"></i></button></div>


                                            </div>
                                        </div>
                                    </div>
                                }
                            </div>

                        </div>
                    </div>


                    @*Yetenekler*@
                    @*kullanıcının yeteneklerini etiketler ile veya yazı ile belirtebilceği kendini kategorize edebileceği alan*@
                    <div class="col-md-6">
                        <div class="card mb-4 mb-md-0">
                            <div class="card-header">
                                <div class="row py-2 px-2">
                                    <div class="col-6">
                                        <p class="mb-2"><span class="text-primary font-italic me-2">Yetenekler</span></p>
                                    </div>
                                    <div class="col-6 text-end ">
                                        <!--User Ability Insert Button -->
                                        <button type="button" class="btn">
                                            <i class="fa-solid fa-square-plus fa-2xl" style="color:#5C636A"></i></i>
                                        </button>
                                    </div>
                                </div>
                            </div>
                            <div class="card-body" style="height:300px; overflow:auto">

                                <form method="post">
                                    <table class="table table-hover">

                                        <tbody>

                                            @foreach (var ability in Model.UserVM.UserAbilities)
                                            {
                                                <tr>
                                                    <td>@(ability.AltCategory.Name)</td>
                                                    <td style="text-align:right">
                                                        <button type="submit" asp-page-handler="AbilityDelete" class="btn " asp-route-AbilityId="@ability.Id">
                                                            <i class="fa-solid fa-trash-can" style="color: #ddb649;"></i>
                                                        </button>
                                                    </td>
                                                </tr>
                                            }


                                        </tbody>
                                    </table>
                                </form>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>


@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}
