@model SystemUser

<main class="container">
  <div class="my-3 p-3 bg-body rounded shadow-sm">
    <h6 class="border-bottom pb-2 mb-0">Suggestions</h6>

    <h5>Employee Kayıt Sayfası</h5>
    <form id="registerForm" class="row" method="post" >
      <input type="hidden" asp-for="@Model.Id"/>
      <hr />

      <div class="form-floating mb-3 col-md-6">
        <span><b>Kategori</b></span>
        <select class="form-control" id="categoryDropdown"></select>
      </div>
      <div class="form-floating mb-3 col-md-6">
        <span><b>Alt Kategori</b></span>
        <select class="form-control" id="altCategoryDropdown"></select>
      </div>
      <div class="form-floating mb-3 col-md-6">
        <span><b>Ücret</b></span>
        <input class="form-control" type="number" asp-for="@Model.Price" />
      </div>
      <div class="form-floating mb-3 col-md-6">
        <span><b>Yetenekler</b></span>
        <input class="form-control" type="text" asp-for="@Model.Abilities" />
      </div>
   
      <button type="submit" class="w-100 btn btn-lg btn-primary">Register</button>
    </form>
  </div>
</main>







@section Scripts {
  <partial name="_ValidationScriptsPartial" />

  <script>
    $(function () {
      $('#categoryDropdown').change(function () {
        debugger;

        var id = $(this).val();
        //$('#districtDropdown').empty();
        $('#altCategoryDropdown').append(id)

        $.ajax({
          url: "@Url.Action("GetAltCategoryById","Category", new { area = "Admin" })",
          type: 'GET',
          data: { id: id },
          success: function (data) {
            $('#altCategoryDropdown').empty();
            $('#altCategoryDropdown').append($('<option>').text('--Select AltCategory--').attr('value', ''));

            $.each(data.data, function (i, item) {
              $('#altCategoryDropdown').append($('<option>').text(item.name).val(item.id));
            });
          },
          error: function (xhr, status, error) {

            console.log(error);
          }
        });

      });
    });






    $(document).ready(function () {
      // Ajax isteği gönder
      $.ajax({
        url: '@Url.Action("GetAllAltCategories","Category", new { area = "Admin" })',
        type: 'GET',
        dataType: 'json',
        success: function (data) {
          // Ajax isteği başarılı olduğunda dropdown listesini güncelle
          var dropdown = $('#altCategoryDropdown');
          dropdown.empty();

          // Verileri dropdown listesine ekle
          $.each(data.data, function (i, item) {
            dropdown.append($('<option>').text(item.name).val(item.id));
          });
        },
        error: function () {
          // Ajax isteği başarısız olduğunda hata işleme kodu
        }
      });
    });
    // Ajax isteği gönder
    $.ajax({
      url: '@Url.Action("GetAll","Category", new { area = "Admin" })',
      type: 'GET',
      dataType: 'json',
      success: function (data) {
        // Ajax isteği başarılı olduğunda dropdown listesini güncelle
        var dropdown = $('#categoryDropdown');
        dropdown.empty();

        // Verileri dropdown listesine ekle
        $.each(data.data, function (i, item) {
          dropdown.append($('<option>').text(item.name).val(item.id));
        });
      },
      error: function () {
        // Ajax isteği başarısız olduğunda hata işleme kodu
      }
    });

    $(function () {
      $('#registerForm').submit(function (e) {
        e.preventDefault(); // Prevent the default form submission

        // Get the form data
        var formData = $(this).serialize();

        // Get the selected dropdown values
        debugger;
        var CategoryId = $('#categoryDropdown').val();
        var AltCategoryId = $('#altCategoryDropdown').val();

        // Add the selected dropdown values to the form data
        formData += "&CategoryId=" + CategoryId + "&AltCategoryId=" + AltCategoryId;

        // Send the AJAX request
        $.ajax({
          url: "@Url.Action("UpsertSystemUser", "Service", new { area = "Customer" })",
          type: 'POST',
          data: formData,
          success: function (data) {
            // Handle the success response
            // You can perform any necessary actions here, such as displaying a success message or redirecting to another page
          },
          error: function (xhr, status, error) {
            // Handle the error response
            // You can display an error message or perform any necessary error handling here
            console.log(error);
          }
        });
      });
    });





  </script>
}


